* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	max-height: 100vh;
}

.container {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.game-area {
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: rgb(173, 249, 249);

	display: flex;
	gap: 5rem;
}

.player-play-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.indicator {
	height: 1rem;
	width: 1rem;
	background-color: rgb(0, 98, 255);
	border-radius: 50%;
}

.player-grid {
	border: 1px solid black;

	display: grid;
}

.item {
	position: relative;
	padding: 1.5rem;
	border: 1px solid black;
	cursor: pointer;

	&::after {
		content: '';

		font-size: 1.2rem;

		position: absolute;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.player-blocks {
	margin-top: auto;

	display: flex;
	align-items: end;
	justify-content: center;
	gap: 1rem;
}

.block {
	cursor: pointer;
}

.broken {
	background-color: #0545ab;
}

.empty {
	background-color: #ffffff;

	&::after {
		content: 'X';
	}
}
