* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	max-height: 100vh;
}

.container {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.game-area {
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: rgb(173, 249, 249);

	display: flex;
	gap: 5rem;
}

.player-play-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.player-grid {
	border: 1px solid black;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.item {
	padding: 1.5rem;
	border: 1px solid black;
	cursor: pointer;
}

.player-blocks {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.block {
	background-color: rgb(0, 98, 255);
	border: none;
	outline: none;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}
